doctype html
html(lang="en")
    head
        title="Flappy Sonic"
        script(src='https://code.createjs.com/1.0.0/createjs.min.js')
        script(src='/js/bundle.js')
        link(rel='stylesheet', href='/css/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    body()
        #fb-root
        #logo
            img(src='/img/logo.png')
        #leftContainer
            p Top Scores
            table#hiscoresTable
                tbody#hiscoresTableBody
                    td Loading...
        #centralContainer
            #content
                canvas#gameCanvas(width=320, height=288)
        #rightContainer
            p Last Scores
            table#lastscoresTable
                tbody#lastscoresTableBody
                    td Loading...
        .clearer
        #rooster
            h1 Enter your name to play
            input#name(style='width:350px;' maxlength='28')
            div(style='clear:both;')
            input#set(type='button', value='Play')
            p.error#noName You must enter your name to play
        #social
            #social-content
                .social-icon
                    .fb-share-button(data-href="http://flappysonic.namelivia.com" data-type="box_count")
                .social-icon
                    a(href="https://twitter.com/share" class="twitter-share-button" data-url="http://flappysonic.namelivia.com" data-via="namelivia" data-lang="en" data-count="vertical") Tweet
                .social-icon
                    .g-plus(data-action="share" data-annotation="vertical-bubble" data-height="61")
                .clearer
                a(href="http://namelivia.com/how-to-create-a-flappy-bird-clone/")
                    p.info
                        |How is this made?
                a(href="http://namelivia.com")
                    p.info
                        |Who made this?
                p.info.legal
                    |This is an unofficial fan made Sonic The Hedhehog game, and is not associated with Sega in anyway. All rights and trademarks are property of the respective owners.
