$breakpoint-tablet: 768px;

html {
	height:100%;
}

body {
	height:100%;
	margin: 0;
	background-color: #303030;
	color: #ffffff;
	background: #000000 url('/img/background.png') no-repeat 0px 0px;
	background-size: cover;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

h1 {
	color: #ffffff;
	text-shadow: 5px 5px 5px #000000
}

a {
	text-decoration: none;
}

.container {
}

#rooster {
	user-select: none;
	text-align: center;
}

#content {
	user-select: none;
	background-color: #010054;
	width: 320px;
	height: 288px;
	margin: 20px auto;
}

#hiscoresTable,
#lastscoresTable {
	margin: 0px auto;
	border: 1px solid #e3e3e3;
	background: rgba(50, 50, 50, 0.5);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

#hiscoresTable td,
#hiscoresTable th,
#lastscoresTable td,
#lastscoresTable th {
	padding: 5px;
	color: #ffffff;
	text-align: center;
}

#hiscoresTable th,
#lastscoresTable th {
	font-weight: bold;
}

p.error,
p.info {
	background: rgba(50, 50, 50, 0.5);
	padding: 5px;
	border: solid 1px #ffffff;
	font-weight: bold;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

p.error {
	display: none;
}

p.info {
	text-align: center;
	height: auto;
}

a p.info,
a:link p.info,
a:active p.info,
a:visited p.info {
	text-decoration: none;
	color: #ffffff
}

a:hover p.info {
	text-decoration: none;
	color: #99ffff;
	border-color: #99ffff;
}

.legal {
	font-size: 13px;
}

#centralContainer {
	display: none;
	width: 100%;
	@media (min-width: $breakpoint-tablet) {
		float: left;
		width: 50%;
	}
}

#gameCanvas {
	box-shadow: 20px 20px 10px #000000;
	cursor: pointer;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #000000;
	padding-left: 20px;
}

#logo img {
	display: block;
	max-width:100%;
	margin: 20px auto;
}

#set {
	margin-top: 40px;
	-moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
	box-shadow: inset 0px 1px 0px 0px #f29c93;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
	background: -moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color: #fe1a00;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #d83526;
	display: inline-block;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 65px;
	line-height: 65px;
	width: 131px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #b23e35;
}

#set:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
	background: -moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color: #ce0100;
}

#set:active {
	position: relative;
	top: 1px;
}

#rightContainer p,
#leftContainer p {
	text-align: center;
	font-weight: bold;
}

#rightContainer,
#leftContainer {
	display: none;
	width: 100%;

	@media (min-width: $breakpoint-tablet) {
		float: left;
		width: 25%;
	}
}

#social {
	max-width:500px;
	margin-top: 40px;
	@media (min-width: $breakpoint-tablet) {
		margin: auto;
		display: block;
	}
}

#social-content {
	text-align: center;
}

.social-icon {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

.clearer {
	clear: both;
}

canvas {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-webkit-tap-highlight-color: transparent
}


