doctype html
html(lang="en")
    head
        title= "Flappy Sonic"
        script(src='/lib/createjs-2013.12.12.min.js')
        script(src='/lib/Collision-Detection-for-EaselJS/src/ndgmr.Collision.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/game.js')
        script(src='/js/Sonic.js')
        script(src='/js/Score.js')
        script(src='/js/Scenario.js')
        script(src='/js/Enemies.js')
        link(rel='stylesheet', href='/css/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    body(onload="init()")
        #fb-root
        script.
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=601429036605120";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        #logo
            img(src='/img/logo.png')
        #leftContainer
            p Top Scores
            table#hiscoresTable
                tbody#hiscoresTableBody
        #centralContainer
            #content
                canvas#gameCanvas(width=320, height=288)
                .fb-like (data-href="http://flappysonic.namelivia.com" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false")
        #rightContainer
            p Last Scores
            table#lastscoresTable
                tbody#lastscoresTableBody
        #rooster
            h1 Enter your name to play
            input#name(style='width:350px;')
            div(style='clear:both;')
            input#set(type='button', value='Play')
            p.error#noName You must enter your name to play
