doctype html
html(lang="en")
    head
        title= "Flappy Sonic"
        script(src='/lib/createjs-2013.12.12.min.js')
        script(src='/lib/Collision-Detection-for-EaselJS/src/ndgmr.Collision.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/game.js')
        script(src='/js/Sonic.js')
        script(src='/js/Score.js')
        script(src='/js/Scenario.js')
        script(src='/js/Enemies.js')
        link(rel='stylesheet', href='/css/style.css')
    body(onload="init()")
        #rightContainer
            table#hiscoresTable
                thead
                    tr: th Name 
                        th Score 
                tbody
        #leftContainer
            #rooster
                p Introduce un nombre para jugar
                input#name(style='width:350px;')
                div(style='clear:both;')
                input#set(type='button', value='Aceptar')
                p.error#noName Debes introducir tu nombre para jugar
            #content
                canvas#gameCanvas(width=320, height=288)
